
.navbartext{
    margin-left: 35vw;
    font-family:cursive ;
    font-weight: 400;
}
.Headgrid{
    display: grid;
    grid-template-columns: 40vw 60vw;
    height: 70vh;
    
    background-color:#C0C0C0;
    
}
#fontstyle{
    font-size: 17px;
    font-family: cursive;
}
#fontstyletwo{
    margin-top: 10px;
    font-size:30px;
    font-family: monospace;
}
.ProjectDes{
    height: 80vh;
    width: 99vw;
    background-color: #EEEEEE;
}
ul li{
    list-style-type: none;
    font-size: 25px;
    font-family: monospace;
    margin-top: 10px;
}
ul li:hover{
  background-color: lightskyblue;
}
#Projectanimation{
    
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {right:0px; }
    100%  { color:red ;left:0px; }
}
#Education{
    height: 30vh;
    width: 99vw;
    background-color: #EEEEEE;
    font-family: cursive;
}
#Education:hover{
    background-color:#C0C0C0;

}
#Skills{
    background-color: #EEEEEE;
    font-family: monospace;

}
#Declaration{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 25px;
}
#imagemargin{
    border-radius: 100%;
    margin-left: 120px;
    margin-top: 25px;

}
